@import url('less-framework.css');
@import url(http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300,800);

a {
	color:			rgba(0,0,0,0.5);
}

*
{
	font-family: 	'Ubuntu', sans-serif;
}

strong
{
	color:			#336699;
}

#topbar {
	z-index:		10;
	position:		fixed;
	width:			89%;
	background:		#111;
	padding:		10px 80px;
}

.circle {
	width:			80px;
	height:			55px;
	border-radius:	5px;
}

#banner-circle {
	float:			left;
	display:		inline-block;
	background:		rgba(0, 0, 0, 0.9);
	margin:			0px 16px 0px 0px;
}

#banner h1 {
	vertical-align:	top;
	display:		inline-block;
	font-size:		18px;
	line-height:	30px;
	color:			whitesmoke;
}

.subtle-header {
	color:			grey;
	display:		block;
	font-family: 	'Lato', sans-serif;
	font-weight: 	300;
	line-height: 	14px;
}

.subtle-text {
	font-family: 	'Lato', sans-serif;
	font-weight: 	300;
	font-size:		26px;
	line-height:	28px;
	display:		block;
	color:			white;
}

#navigation {
	z-index:		9;
	margin-top:		-30px;
	text-align:		right;
}

#menu {
	list-style:		none;
}

#menu li {
	cursor:			pointer;
	display:		inline-block;
	font-size:		16px;
	margin:			0px 5px;
}

#menu li a {
	font-family: 	'Open Sans', sans-serif;
	font-weight: 	300;
	background:		rgba(0,0,0,0.8);
	border-radius:	5px;
	padding:		5px 10px;
	text-decoration:none;
	text-transform:	uppercase;
	color:			whitesmoke;
}

.block {
	padding:		30px 80px;
}

#title {
	top: 			75px;
	position: 		fixed;
}

#title h1 {
	color:			whitesmoke;
}

#wrapper {
	position:		absolute;
	top:			242px;
}

#main {
	z-index:		2;
	background:		#c2c2c2;
}

#main h2 {
	color:			#336699;
}
 
p {
	font-family: 	'Open Sans', sans-serif;
	font-weight: 	300;
	color:			#111;
	margin:			20px 0px;
}

#secondary {
	z-index:		3;
	background:		#187C72;
}

#last {
	z-index:		4;
	background:		#F37E1D;
}

#contact {
	z-index:		5;
	background:		#222222;
}

#employee-list {
	list-style:		none;
	margin:			30px 0px;
}

#employee-list li {
	font-size:		64px;
	cursor:			pointer;
	line-height:	64px;
	-webkit-transition:color 0.25s ease-in;
}

#employee-list li:hover {
	color:			#cdcdcd;
}